<html class="white-bg-login" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sign in</title>
    <link rel="SHORTCUT ICON"
        href="https://aligarhonline.edu.pk/Online/uploads/images/9abc661af2ca2f446864ef70c7b56a0101e2f6dddb393fc2d316316b211fcfd5c2035ba09334189e99b570e243ee540c0f0337aa59827b71c5c167556d1cbb94.png">
    <!-- bootstrap 3.0.2 -->
    <link href="https://aligarhonline.edu.pk/Online/assets/bootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css">
    <!-- font Awesome -->
    <link href="https://aligarhonline.edu.pk/Online/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- Style -->
    <link href="style.css" rel="stylesheet">
    <!-- iNilabs css -->
    <link href="https://aligarhonline.edu.pk/Online/assets/inilabs/themes/purple/inilabs.css" rel="stylesheet"
        type="text/css">
    <link href="https://aligarhonline.edu.pk/Online/assets/inilabs/responsive.css" rel="stylesheet" type="text/css">
</head>

{{{body}}}


</html>